
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ICS3U1.iml
.DS_Store
(19.12.06) Culminating/__pycache__/settings.cpython-37.pyc
(19.12.06) Culminating/__pycache__/sprites.cpython-37.pyc
*.pyc
*.pyc
